:root {
    --system-ui : system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --border-radius : 5px;
    --border: 1px solid black;
    --main-bg: rgb(17, 24, 39);
    --contrast-bg: rgb(30, 30, 44);
    --write-bg: rgb(43, 43, 63);
    --text-color: white;
    --read-only-text: grey;
    --button-hover-bg: rgb(204, 204, 204);
}

body {
    display: flex;
   justify-content: center;
   align-items: center;
   font-family: "abel", var(--system-ui);
   background-color: var(--main-bg);
   color: var(--text-color);
}

fieldset {
    background-color: var(--contrast-bg);
}

input,
button,
textarea {
    font-family: inherit;
    font-size: 1rem;
    margin: 10px;
}

input,
button,
textarea,
fieldset {
    border-radius: var(--border-radius);
}

button {
    padding: 5px 25px;
    border: 1px solid white;
    background-color: var(--main-bg);
    color: var(--text-color);
}

input,
textarea {
    appearance: none;
    width: 250px;
    height: 25px;
    border: var(--border);
    padding: 5px;
    background-color: var(--write-bg);
    border: 1px solid white;
    color: var(--text-color);
}

textarea {
    height: 100px;
}

.synopsis-container {
    display: flex;
    align-items: center;
}

input:read-only,
textarea:read-only {
    background-color: var(--contrast-bg);
    color: var(--read-only-text);
    border: 1px solid gray;
}

button:hover {
    background-color: var(--button-hover-bg);
}

button:active {
    padding: 6.5px 26.5px;
}