:root {
    --system-ui : system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    display: flex;
   justify-content: center;
   align-items: center;
   font-family: "abel", var(--system-ui);
}

input,
button,
textarea {
    font-family: inherit;
    font-size: 1rem;
    margin: 10px;
    border-radius: 5px;
}

button {
    padding: 5px 25px;
    border: 1px solid grey;
}

input,
textarea {
    appearance: none;
    width: 250px;
    height: 25px;
    border: 1px solid black;
    padding: 5px;
}

textarea {
    height: 100px;
}

.synopsis-container {
    display: flex;
    align-items: center;
}